#root {
  flex: 1 1 auto;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

#map, canvas{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  max-height: 100%;
}
